<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Oliver Fleckenstein" />
		<meta
			name="description"
			content="Blog, notes and everything else for Oliver Fleckenstein"
		/>
		<title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
		<link href="/css/main.ccbcae97b8.css" rel="stylesheet" />
	</head>
	<body class="bg-white dark:bg-gray-800">
		<header class="p-6 bg-red-800 border-t-4 dark:border-gray-400">
			<nav>
				<ul class="flex uppercase text-xl space-x-4 text-gray-100">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
			<h2 class="text-md max-w-md text-gray-400">
				I'm Oliver Fleckenstein; a programmer, avid learner, tech enthusiast,
				gamer, and a runner.
			</h2>
		</header>
		{{ block "main" . }} {{ end }} {{ block "footer" . }} {{ end }}
	</body>
</html>
