<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Oliver Fleckenstein" />
		<meta
			name="description"
			content="Blog, notes and everything else for Oliver Fleckenstein"
		/>
		<title>{{ .Title }} | {{ .Site.Title }}</title>
		<link href="/css/main.fac1e6b64e.css" rel="stylesheet" />
	</head>
	<body class="pb-4 bg-gray-100 dark:bg-gray-900">
		{{ partial "header.html" }}
		<div class="px-6 flex justify-center">
			{{ block "main" . }} {{ end }} {{ block "footer" . }} {{ end }}
		</div>
	</body>
</html>
