<header class="p-6 bg-purple-900 flex justify-center">
	<div class="w-full max-w-2xl">
		<nav class="flex items-center justify-between flex-wrap pb-4">
			<div class="block lg:hidden">
				<button onclick="document.getElementById('nav-items')?.classList.toggle('hidden')" class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
				</button>
			</div>
			<div class="flex items-center flex-shrink-0 text-white">
				<a href="/" class="pr-4">Oliver Fleckenstein</a>
				<div class="flex space-x-3">
					<a href="https://github.com/oliverflecke">
						<img src="/icons/github.svg" alt="GitHub logo with link to OliverFlecke's profile" width="2rem" height="2rem" class="w-8" />
					</a>
					<a href="https://linkedin.com/in/oliverflecke/">
						<img src="/icons/linkedin.svg" alt="LinkedIn logo with link to OliverFlecke's profile" width="2rem" height="2rem" class="w-8" />
					</a>
				</div>
			</div>

			<ul id="nav-items" class="w-full hidden flex-grow pt-4 lg:pt-0 lg:w-auto lg:flex lg:justify-end lg:space-x-8 uppercase text-xl text-gray-100">
				<li><a class="nav-link" href="/">Home</a></li>
				<li><a class="nav-link" href="/about">About</a></li>
				<li><a class="nav-link" href="/about#experience">Experience</a></li>
				<li><a class="nav-link" href="/post">Posts</a></li>
			</ul>
		</nav>
	</div>
</header>