{{ define "main" }}

<section class="px-6 pt-6 text-gray-900 dark:text-gray-300 markdown">
	{{ .Content }}
</section>

<section class="px-6">
	<h2 id="experience" class="text-xl font-bold pt-2 text-emerald-700 dark:text-emerald-600">Experience</h2>
	{{ range sort $.Site.Data.experience "Start" "desc" }} {{ partial "experience.html" . }} {{ end }}
</section>

<section class="px-6">
	<h2 id="education" class="text-xl font-bold pt-2 text-emerald-700 dark:text-emerald-600">Education</h2>
	{{ range sort $.Site.Data.education "End" "desc" }}
	{{ partial "education.html" . }}
	{{ end }}
</section>

{{ end }}